server.port={{server_port}}

security.user.name={{security_user_name}}
security.user.password={{security_user_password}}

spring.data.mongodb.database=cpp-integration
spring.data.mongodb.host=127.0.0.1


feedback.event-registration-email={{feedback_to_email}}
feedback.feedback-email={{event_registration_to_email}}

spring.mail.host={{mail_host}}
spring.mail.port={{mail_port}}
spring.mail.username={{mail_username}}
spring.mail.password={{mail_password}}
