server {
  listen {{ nginx_port }};
  
  server_name {{ listen_domains }} ;
    
  return 301 https://{{ listen_domains.split(' ')[0] }}$request_uri;
  
  
    
}



server {

  server_name {{ listen_domains }} ;
 
  
  
  listen {{ nginx_ssl_port }} ssl;

 
 
 
  ssl    on;
  ssl_certificate    {{crt_file}};
  ssl_certificate_key    {{key_file}};


  location {{ location }} {
        proxy_set_header   Host           $host;
        proxy_pass {{ proxy_pass }};
        
      {% if upgrade_websocket is defined %}
    	
    	proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
    	proxy_set_header Connection "upgrade";

      {% endif %}
  }
  
  
    {% for path in deny_path %}
 
   	location ~ ^{{ path }} {
                deny all;
  	}
    {% endfor %}
  
  

  
  
  
  
  {% if client_max_body_size is defined %}
  client_max_body_size {{ client_max_body_size }};
  {% endif %}
}