server {

  server_name {{ listen_domains }} ;
 
  listen {{ nginx_port }};


 

  location {{ location }} {
        proxy_set_header   Host           $host;
        proxy_pass {{ proxy_pass }};
        
      {% if upgrade_websocket is defined %}
    	proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
    	proxy_set_header Connection "upgrade";

      {% endif %}
      
      
      {% if passwd_file is defined %}
        auth_basic           "closed site";
        auth_basic_user_file {{ passwd_file }};
      {% endif %}
  }
  

   {% for path in deny_path %}
 
   	location ~ ^{{ path }} {
                deny all;
  	}
    {% endfor %}
  
  
  {% if client_max_body_size is defined %}
  client_max_body_size {{ client_max_body_size }};
  {% endif %}
}